<div ng-if="dynamiccompetitorsCtrl.tab == 'list'">
    <h3 localize="dp_competitors"></h3>
    <button class="small margin-bottom" ng-click="dynamiccompetitorsCtrl.tab = 'edit'" localize="dp_create_new"></button>

    <table class="medium">
        <thead>
            <tr>
                <th localize="name"></th>
                <th localize="total_users"></th>
                <th localize="dp_actions"></th>
            </tr>
        </thead>
        <tr ng-repeat="competitor in dynamiccompetitorsCtrl.competitors">
            <td>
                <img ng-src="{{competitor.logoPath}}" class="companyLogo small">
                {{competitor.name}}
            </td>
            <td>
                <b>{{dynamiccompetitorsCtrl.getRealUsers(competitor)}}</b> ({{dynamiccompetitorsCtrl.format(competitor.users)}})
            </td>
            <td>
                <button class="small cancel" ng-click="dynamiccompetitorsCtrl.copyToClipboard(competitor)" uib-tooltip="{{dynamiccompetitorsCtrl.getString('dp_copy_clipboard')}}" tooltip-append-to-body="true" tooltip-placement="top">
                    <i class="fa fa-clipboard"></i>
                </button>
            </td>
        </tr>
    </table>
</div>

<dynamiccompetitorsedit ng-if="dynamiccompetitorsCtrl.tab == 'edit'"></dynamiccompetitorsedit>