<div ng-if="dynamicfeaturesCtrl.tab == 'list'">
    <h3 localize="dp_features"></h3>
    <button class="small margin-bottom" ng-click="dynamicfeaturesCtrl.tab = 'edit'" localize="dp_create_new"></button>

    <table class="medium">
        <thead>
            <tr>
                <th localize="name"></th>
                <th localize="dp_research_cost"></th>
                <th localize="dp_category"></th>
            </tr>
        </thead>
        <tr ng-repeat="feature in dynamicfeaturesCtrl.features">
            <td>
                <i class="fa {{feature.faIcon}}"></i>
                {{feature.name}}
            </td>
            <td>
                {{dynamicfeaturesCtrl.format(feature.researchPoints)}}
            </td>
            <td>
                {{feature.categoryName}}
            </td>
        </tr>
    </table>
</div>

<dynamicfeaturesedit ng-if="dynamicfeaturesCtrl.tab == 'edit'"></dynamicfeaturesedit>