<div class="flex-column">
    <h3>Created Products</h3>
    <p class="color-red">PLEASE! Don't hurt me :( I didn't do anything here yet.</p>

    <h3>Import Preset</h3>
    <ul class="preset-list">
        <li ng-repeat="preset in dynamichomeCtrl.presets">
            <a ng-click="dynamichomeCtrl.importPresetConfirmation(preset)">
                <b>{{preset.name}}</b>
                <span><i class="fa fa-user"></i> by {{preset.author}}</span>
                <span>{{preset.description}}</span>
            </a>
        </li>
    </ul>
</div>