<h1>
    <i class="fa fa-cubes"></i>
    Dynamic Products
    <i class="fa fa-times pull-right close-button" close-all-ui></i>
</h1>

<div class="flex-row" style="height: 100%">
    <div class="flex2" style="height: 100%; overflow: auto;">
        <ul class="left-tabs">
            <li ng-repeat="tab in dynamicCtrl.tabs" ng-click="dynamicCtrl.tab = tab.name"
                ng-class="{ active: tab.name == dynamicCtrl.tab }">
                <span>
                    <i class="fa {{tab.icon}}"></i>
                    {{tab.name}}
                </span>
            </li>
        </ul>
    </div>
    <div class="flex4 padding" style="height: 100%; overflow: auto;">
        <div ng-switch="dynamicCtrl.tab">
            <!-- Home -->
            <div ng-switch-when="Home" class="flex-column">
                <h3>Created Products</h3>
                <p class="color-red">PLEASE! Don't hurt me :( I didn't do anything here yet.</p>

                <h3>Import Preset</h3>
                <ul class="preset-list">
                    <li ng-repeat="preset in dynamicCtrl.presets">
                        <a ng-click="dynamicCtrl.importPresetConfirmation(preset)">
                            <b>{{preset.name}}</b>
                            <span>{{preset.description}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Competitors -->
            <div ng-switch-when="Competitors" class="flex-column">
                <h3>Create Competitor</h3>
                <p>You can create a custom competitor product that will behave like any other competitor in the game.
                    You can buy stocks, sell stocks and of course, you can also aquire it and merge it into your own
                    website.</p>

                <div class="website-name">
                    <img ng-src="{{ dynamicCtrl.logo.url }}" class="website-logo">
                    <input type="text" ng-model="dynamicCtrl.name" placeholder="Competitor Name" class="margin"
                        maxlength="20" restrict-to="[a-zA-Z0-9/\s]+">
                </div>

                <hr class="big">

                <div class="logo-picker">
                    <img ng-repeat="logo in dynamicCtrl.logos" ng-src="{{logo.url}}" class="website-logo"
                        ng-mousedown="dynamicCtrl.logo = logo">
                </div>

                <hr class="big">

                <h4>Product Type</h4>
                <div class="small" dropdown-select="dynamicCtrl.productTypes" dropdown-model="dynamicCtrl.productType"
                    dropdown-item-label="label" style="width: 100%; margin-bottom: 12px;"></div>

                <label for="usersInput">Users</label>
                <input type="number" id="usersInput" ng-model="dynamicCtrl.users" min="0" max="7500000000"
                    class="margin">

                <label for="stockVolume">Stock Volume</label>
                <input type="number" id="stockVolume" ng-model="dynamicCtrl.stockVolume" min="0" class="margin">

                <button type="button" ng-click="dynamicCtrl.submitCompetitor()">Create</button>
            </div>

            <!-- Features -->
            <div ng-switch-when="Features" class="column">
                <h3>Create Feature</h3>

                <p class="color-red">Sadly, it is currently not possible to add features dynamically. I am working on
                    it, I promise! :(</p>

                <input type="text" ng-model="dynamicCtrl.name" placeholder="Feature Name" style="margin-bottom: 12px;">

                <span class="flex-row" style="margin-bottom: 12px;">
                    <i class="fa {{dynamicCtrl.faIcon}}" style="width: 150px; font-size: 94px; text-align: center;"></i>
                    <input type="text" ng-model="dynamicCtrl.faIcon" placeholder="Product Icon">
                </span>

                <h4>Research Cost</h4>
                <input type="number" ng-model="dynamicCtrl.researchPoints" placeholder="Research Cost" min="0"
                    style="margin-bottom: 12px;">

                <h4>Category</h4>
                <div class="small" dropdown-select="dynamicCtrl.featureCategories" dropdown-model="dynamicCtrl.category"
                    dropdown-item-label="name" style="width: 100%; margin-bottom: 12px;"></div>

                <div ng-if="dynamicCtrl.category.name == 'Users' || dynamicCtrl.category.name == 'Enhancement'"
                    class="column">
                    <h4>Requirements</h4>
                    <table class="medium">
                        <tr ng-repeat="(name, item) in dynamicCtrl.requirements">
                            <td>
                                <component class="small" component="item.component"></component>
                            </td>
                            <td localize="{{ name }}"></td>
                            <td>
                                <input type="number" ng-model="item.count"
                                    ng-change="dynamicCtrl.onRequirementCountChange()">
                            </td>
                        </tr>
                    </table>

                    <ui-select ng-model="dynamicCtrl.newRequirement" theme="select2"
                        on-select="dynamicCtrl.addNewRequirement($item, i)" append-to-body="true">
                        <ui-select-match placeholder="Select new requirement">
                            <div class="dropdown-component">
                                <component component="$select.selected.component" />
                                <span>{{$select.selected.label}}</span>
                            </div>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="item in dynamicCtrl.components | propsFilter: { label: $select.search }">
                            <div class="dropdown-component">
                                <component component="item.component" />
                                <span ng-bind-html="item.label | highlight: $select.search"></span>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div ng-if="dynamicCtrl.category.name == 'Users'" class="column">
                    <h4>Level</h4>
                    <div class="small" dropdown-select="dynamicCtrl.featureLevels" drowdown-model="dynamicCtrl.level"
                        dropdown-item-label="name" style="width: 100%; margin-bottom: 12px;"></div>
                </div>

                <div ng-if="dynamicCtrl.category.name == 'Revenue'" class="column" style="margin-bottom: 12px;">
                    <label for="dissatisfactionSlider">
                        Dissatisfaction <b>{{dynamicCtrl.dissatisfaction}}</b>
                    </label>
                    <input type="range" min="0" max="100" id="dissatisfactionSlider"
                        ng-model="dynamicCtrl.dissatisfaction">
                </div>

                <button type="button" ng-click="dynamicCtrl.submitFeature()">Create</button>
            </div>

            <!-- Products -->
            <div ng-switch-when="Products" class="column">
                <h3>Create Product</h3>
                <p>By creating a new product type, you open up plenty of options to extend your game. Every product type
                    you add, can be used for a new website of yours and you can add custom competitors for these product
                    types.</p>

                <input type="text" ng-model="dynamicCtrl.name" placeholder="Product Name" style="margin-bottom: 12px;">
                <span class="flex-row" style="margin-bottom: 12px;">
                    <i class="fa {{dynamicCtrl.faIcon}}" style="width: 150px; font-size: 94px; text-align: center;"></i>
                    <input type="text" ng-model="dynamicCtrl.faIcon" placeholder="Product Icon">
                </span>

                <h4>Product Features</h4>
                <ul style="max-height: 250px; overflow:auto; margin-bottom: 12px;">
                    <li ng-repeat="(name, state) in dynamicCtrl.features" style="display: block;">
                        <label for="feature-{{name}">
                            <input type="checkbox" id="feature-{{name}}" ng-model="dynamicCtrl.features[name]">
                            {{dynamicCtrl.getString(name)}}
                        </label>
                    </li>
                </ul>

                <h4>Product Audience</h4>
                <div class="section">
                    <ul class="multi-toggle">
                        <li ng-click="dynamicCtrl.audienceGender = null"
                            ng-class="{ active: dynamicCtrl.audienceGender == null }" localize="all"></li>
                        <li ng-repeat="gender in dynamicCtrl.audiences.genders"
                            ng-click="dynamicCtrl.audienceGender = gender"
                            ng-class="{ active: dynamicCtrl.audienceGender == gender }" localize="{{gender}}"></li>
                    </ul>
                </div>
                <div class="section">
                    <ul class="multi-toggle">
                        <li ng-click="dynamicCtrl.clickAudienceAge(null)"
                            ng-class="{ active: dynamicCtrl.audienceAges.length == 0 }" localize="all"></li>
                        <li ng-repeat="age in dynamicCtrl.audiences.ages" ng-click="dynamicCtrl.clickAudienceAge(age)"
                            ng-class="{ active: dynamicCtrl.audienceAges.includes(age) }" localize="{{age}}"></li>
                    </ul>
                </div>
                <div class="section margin-bottom">
                    <ul class="multi-toggle-grid">
                        <li ng-click="dynamicCtrl.clicAudienceInterest(null)"
                            ng-class="{ active: dynamicCtrl.audienceInterests.length == 0 }" localize="all"></li>
                        <li ng-repeat="interest in dynamicCtrl.audiences.interests"
                            ng-click="dynamicCtrl.clickAudienceInterest(interest)"
                            ng-class="{ active: dynamicCtrl.audienceInterests.includes(interest) }"
                            localize="{{interest}}"></li>
                    </ul>
                </div>

                <button type="button" ng-click="dynamicCtrl.submitProduct()">Create</button>
            </div>
        </div>
    </div>
</div>

<style>
    .column {
        display: flex;
        flex-direction: column;
    }

    .margin {
        margin-bottom: 12px;
    }

    .preset-list li {
        display: block;
        margin-bottom: 16px;
        border-radius: 10px;
    }

    .preset-list li a {
        display: block;
        padding: 16px;
        width: 100%;
    }

    .preset-list li b {
        display: block;
    }

    .preset-list li:hover {
        background-color: #abcee0;
    }
</style>