<h1>
    <i class="fa fa-cubes"></i>
    Dynamic Products
    <i class="fa fa-times pull-right close-button" close-all-ui></i>
</h1>

<div class="flex-row" style="height: 100%">
    <div class="flex2">
        <ul class="left-tabs">
            <li ng-repeat="tab in dynamicCtrl.tabs" ng-click="dynamicCtrl.tab = tab.name"
                ng-class="{ active: tab.name == dynamicCtrl.tab }">
                <span>
                    <i class="fa {{tab.icon}}"></i>
                    {{tab.name}}
                </span>
            </li>
        </ul>
    </div>
    <div class="flex4 padding" style="height: 100%; overflow: auto;">
        <div ng-switch="dynamicCtrl.tab">
            <!-- Home -->
            <div ng-switch-when="Home" class="flex-column">
                <h3>Created Products</h3>
                <p class="color-red">PLEASE! Don't hurt me :( I didn't do anything here yet.</p>

                <h3>Import Preset</h3>
                <ul class="preset-list">
                    <li ng-repeat="preset in dynamicCtrl.presets">
                        <a ng-click="dynamicCtrl.importPresetConfirmation(preset)">
                            <b>{{preset.name}}</b>
                            <span><i class="fa fa-user"></i> by {{preset.author}}</span>
                            <span>{{preset.description}}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Competitors -->
            <div ng-switch-when="Competitors" class="flex-column">
                <h3 localize="dp_create_competitor"></h3>
                <p localize="dp_create_competitor_desc"></p>

                <div class="website-name flex-row">
                    <img ng-src="{{ dynamicCtrl.logo.url }}" class="website-logo">
                    <input type="text" ng-model="dynamicCtrl.name" placeholder="{{dynamicCtrl.getString('dp_competitor_name')}}" class="small margin-bottom"
                        maxlength="20" restrict-to="[a-zA-Z0-9/\s]+">
                </div>

                <hr class="big">

                <div class="logo-picker" style="max-height: 400px; overflow: auto;">
                    <img ng-repeat="logo in dynamicCtrl.logos" ng-src="{{logo.url}}" class="website-logo"
                        ng-mousedown="dynamicCtrl.logo = logo">
                </div>

                <hr class="big">

                <label localize="producttype"></label>
                <div class="small" dropdown-select="dynamicCtrl.productTypes" dropdown-model="dynamicCtrl.productType"
                    dropdown-item-label="label" style="width: 100%; margin-bottom: 12px;"></div>

                <label for="usersInput" localize="dp_users"></label>
                <input type="number" id="usersInput" ng-model="dynamicCtrl.users" min="0" max="7500000000"
                    class="small margin-bottom">

                <label for="stockVolume" localize="dp_stock_volume"></label>
                <input type="number" id="stockVolume" ng-model="dynamicCtrl.stockVolume" min="0" class="small margin-bottom">

                <button type="button" ng-click="dynamicCtrl.submitCompetitor()" localize="dp_create"></button>
            </div>

            <!-- Features -->
            <div ng-switch-when="Features" class="column">
                <h3 localize="dp_create_feature"></h3>
                <p localize="dp_create_feature_desc"></p>

                <input type="text" ng-model="dynamicCtrl.name" placeholder="{{dynamicCtrl.getString('dp_feature_name')}}" class="small margin-bottom">

                <span class="flex-row margin-bottom">
                    <i class="fa {{dynamicCtrl.faIcon}}" style="font-size: 38px; margin: 14px;"></i>
                    <input type="text" ng-model="dynamicCtrl.faIcon" placeholder="{{dynamicCtrl.getString('dp_feature_icon')}}" class="small">
                </span>

                <label localize="dp_research_cost"></label>
                <input type="number" ng-model="dynamicCtrl.researchPoints" min="0" class="margin-bottom small">

                <label localize="dp_category"></label>
                <div class="small margin-bottom" dropdown-select="dynamicCtrl.featureCategories" dropdown-model="dynamicCtrl.category"
                    dropdown-item-label="name" style="width: 100%"></div>

                <div ng-if="dynamicCtrl.category.name == 'Users' || dynamicCtrl.category.name == 'Enhancement'"
                    class="column margin-bottom">
                    <label localize="requirements"></label>
                    <table class="medium">
                        <tr ng-repeat="(name, item) in dynamicCtrl.requirements">
                            <td>
                                <component class="small" component="item.component"></component>
                            </td>
                            <td localize="{{ name }}"></td>
                            <td>
                                <input type="number" ng-model="item.count" class="small"
                                    ng-change="dynamicCtrl.onRequirementCountChange()">
                            </td>
                        </tr>
                    </table>

                    <ui-select ng-model="dynamicCtrl.newRequirement" theme="select2"
                        on-select="dynamicCtrl.addNewRequirement($item, i)" append-to-body="true">
                        <ui-select-match placeholder="{{dynamicCtrl.getString('dp_select_requirement')}}">
                            <div class="dropdown-component">
                                <component component="$select.selected.component" />
                                <span>{{$select.selected.label}}</span>
                            </div>
                        </ui-select-match>
                        <ui-select-choices
                            repeat="item in dynamicCtrl.components | propsFilter: { label: $select.search }">
                            <div class="dropdown-component">
                                <component component="item.component" />
                                <span ng-bind-html="item.label | highlight: $select.search"></span>
                            </div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div ng-if="dynamicCtrl.category.name == 'Users'" class="flex-column margin-bottom">
                    <label localize="level"></label>
                    <div class="small" dropdown-select="dynamicCtrl.featureLevels" drowdown-model="dynamicCtrl.level"
                        dropdown-item-label="name"></div>
                </div>

                <div ng-if="dynamicCtrl.category.name == 'Revenue'" class="column" class="margin-botttom">
                    <label for="dissatisfactionSlider">
                        {{dynamicCtrl.getString('dissatisfaction')}} <b>{{dynamicCtrl.dissatisfaction}}</b>
                    </label>
                    <input type="range" min="0" max="100" id="dissatisfactionSlider"
                        ng-model="dynamicCtrl.dissatisfaction" class="small">
                </div>

                <button type="button" ng-click="dynamicCtrl.submitFeature()" localize='dp_create'></button>
            </div>

            <!-- Frameworks -->
            <div ng-switch-when="Frameworks" class="flex-column">
                <h3 localize="dp_create_framework"></h3>
                <p localize="dp_create_framework_desc"></p>

                <input type="text" ng-model="dynamicCtrl.name" placeholder="{{dynamicCtrl.getString('dp_framework_name')}}" class="margin-bottom small">

                <div class="flex-row">
                    <div>
                        <label for="researchPoints" localize="dp_research_cost"></label>
                        <input type="number" ng-model="dynamicCtrl.researchPoints" min="0" class="margin-bottom small">
                    </div>

                    <div>
                        <label for="licenseCost" localize="license_cost"></label>
                        <input type="number" ng-model="dynamicCtrl.licenseCost" min="0" id="licenseCost" class="margin-bottom small">
                    </div>

                    <div>
                        <label for="pricePerUser" localize="price_per_user"></label>
                        <input type="number" ng-model="dynamicCtrl.pricePerUser" min="0" id="pricePerUser"
                            class="margin-bottom small">
                    </div>
                </div>

                <label for="maxFeatures" localize="max_features"></label>
                <input type="number" ng-model="dynamicCtrl.maxFeatures" min="3" id="maxFeatures" class="margin-bottom small">

                <label for="maxFeatureLevel" localize="max_feature_level"></label>
                <input type="number" ng-model="dynamicCtrl.maxFeatureLevel" min="1" id="maxFeatureLevel" class="margin-bottom small">

                <button type="button" ng-click="dynamicCtrl.submitFramework()" localize="dp_create"></button>
            </div>

            <!-- Products -->
            <div ng-switch-when="Products" class="column">
                <h3 localize="dp_create_product"></h3>
                <p localize="dp_create_product_desc"></p>

                <input type="text" ng-model="dynamicCtrl.name" placeholder="{{dynamicCtrl.getString('dp_product_name')}}" class="margin-bottom small">
                <span class="flex-row margin-bottom">
                    <i class="fa {{dynamicCtrl.faIcon}}" style="width: 150px; font-size: 94px; text-align: center;"></i>
                    <input type="text" ng-model="dynamicCtrl.faIcon" placeholder="{{dynamicCtrl.getString('dp_product_icon')}}" class="small">
                </span>

                <label localize="dp_product_features"></label>
                <ul style="max-height: 250px; overflow:auto" class="margin-bottom">
                    <li ng-repeat="(name, state) in dynamicCtrl.features" style="display: block;">
                        <label for="feature-{{name}">
                            <input type="checkbox" id="feature-{{name}}" ng-model="dynamicCtrl.features[name]">
                            {{dynamicCtrl.getString(name)}}
                        </label>
                    </li>
                </ul>

                <label localize="dp_product_audience"></label>
                <div class="section">
                    <ul class="multi-toggle">
                        <li ng-click="dynamicCtrl.audienceGender = null"
                            ng-class="{ active: dynamicCtrl.audienceGender == null }" localize="all"></li>
                        <li ng-repeat="gender in dynamicCtrl.audiences.genders"
                            ng-click="dynamicCtrl.audienceGender = gender"
                            ng-class="{ active: dynamicCtrl.audienceGender == gender }" localize="{{gender}}"></li>
                    </ul>
                </div>
                <div class="section">
                    <ul class="multi-toggle">
                        <li ng-click="dynamicCtrl.clickAudienceAge(null)"
                            ng-class="{ active: dynamicCtrl.audienceAges.length == 0 }" localize="all"></li>
                        <li ng-repeat="age in dynamicCtrl.audiences.ages" ng-click="dynamicCtrl.clickAudienceAge(age)"
                            ng-class="{ active: dynamicCtrl.audienceAges.includes(age) }" localize="{{age}}"></li>
                    </ul>
                </div>
                <div class="section margin-bottom">
                    <ul class="multi-toggle-grid">
                        <li ng-click="dynamicCtrl.clicAudienceInterest(null)"
                            ng-class="{ active: dynamicCtrl.audienceInterests.length == 0 }" localize="all"></li>
                        <li ng-repeat="interest in dynamicCtrl.audiences.interests"
                            ng-click="dynamicCtrl.clickAudienceInterest(interest)"
                            ng-class="{ active: dynamicCtrl.audienceInterests.includes(interest) }"
                            localize="{{interest}}"></li>
                    </ul>
                </div>

                <button type="button" ng-click="dynamicCtrl.submitProduct()" localize="dp_create"></button>
            </div>
        </div>
    </div>
</div>

<style>
    .column {
        display: flex;
        flex-direction: column;
    }

    .margin {
        margin-bottom: 12px;
    }

    .preset-list li {
        display: block;
        margin-bottom: 16px;
        border-radius: 10px;
    }

    .preset-list li a {
        display: block;
        padding: 16px;
        width: 100%;
    }

    .preset-list li a > * {
        display: block;
    }

    .preset-list li:hover {
        background-color: #abcee0;
    }
</style>